:global {

    $ghost-white: #F7F6FB;
    $outer-space: #464546;
    $wenge: #645C58;
    $deep-sky-blue: #00BFFF;

    // global style here
    .logo-spin {
        animation: App-logo-spin infinite 3s linear;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    input {
        color: $outer-space;
        border: 1px solid #ced4da;
        background-color: transparent;
        border-radius: 1rem;
        padding: 6px;
        display: block;
        height: 10%;
        width: 95%;
        font-size: 1rem;

        &:focus {
            border-color: #242526;
            outline:0;
        }
    }

    p {
        margin-bottom: 5px;
        color: $wenge;
    }

    .header--logo {
        width: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .login--form {
        position: absolute;
        top: 15%;
        left: 37%;
        height: 450px;
        width: 450px;
        background-color: $ghost-white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    }

    .login--form-inside {
        width: 95%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .body--form {
       margin-top: 20px;
       margin-bottom: 20px;
    }

    .body--submit-button {
        cursor: pointer;
        border-radius: 5px;
        background-color: $deep-sky-blue;
    }

    .body--submit-button {
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        color: white;
    }

    .body--submit-block {
        text-align: center;
    }

    .footer--forgot-password a {
        cursor: default;
        color: $deep-sky-blue;
        position: absolute;
        bottom: 5%;
        left: 5%;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer--new-account a {
        cursor: default;
        color: $deep-sky-blue;
        position: absolute;
        bottom: 5%;
        right: 5%;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .body-error-message {
        color: red;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 25px;
    }

}
